@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Popppins', sans-serif;
    color:#111;
}
.logo{
    position: absolute;
    top:30px;
    left:100px;
    font-size: 2rem;
    font-weight: 600;
    z-index: 25;
}
.home-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
    z-index: -5;
}
.home-content{
    position: relative;
    z-index: 15;
    max-width: 600px;
}
h1{
    font-size: 30px;
    font-weight: 700;
}
p{
    margin: 20px 0 10px 0;
    font-size: 1.1rem;
}
.btn{
    display: inline-block;
    background-color: red;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.btn:hover{
    transform: scale(0.98);
}
.toggle{
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    background: red url(../images/menu.png);
    z-index: 30px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 40;
}
 .toggle.active{
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    background: red url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 50;
}
.navigation{
    position: fixed;
    background-color: rgb(255, 255, 255);
    top:0;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 20;
    align-items: center;
    justify-content: center;
    display: flex;
}
.navigation.active{
    left: 0;
}

.navigation ul{
    position: relative;
  
    
}
.navigation ul li
{
    position: relative;
    padding: 5px 0;
    list-style: none;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
}

.navigation ul li a{
    font-size: 2.2rem;

    color: #111;
    text-decoration: none;
}
.navigation ul li a:hover{
    color:rgb(255, 0, 0);
}

.navigation .social-bar
{
    position: absolute;
    height: 100%;
    top: 0px;
    left:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.76);

}

.navigation .social-bar img
{
padding: 15px 0;

}
.navigation .email-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transform: scale(0.56);
}

section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 100px;
    margin-top:60px ;
}
section.home{
    flex-direction: row;
    margin-top: 0;
}
.services{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    text-align: center;
}
.services .service:hover{
    box-shadow: 0 10px 30px rgba(0,0,0,0.1)
}

.services .service{
    padding: 30px;

}
.services .service .icon img{
    max-width: 100px;

}
.services .service h2{
font-size: 24px;
font-weight: 500;
margin-top:20px ;
color:#1b206e;

}
.services .service .icon img{
    max-width: 100px;
}

.portoflio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    
}
.portoflio .item{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 5px;
}
.portoflio .item img{
    width: 300px;
    height: 300px;  
}
.portoflio .item .action{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}
.portoflio .item .action a{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid #fff ;
    padding: 5px 15px;
}

.portoflio .item:hover .action {
    opacity: 1;
}


.contact{
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-form{
    position: relative;
    background:#f9f9f9 ;
    width:100%;
    padding: 60px 40px 20px;
}

.contact-form form{
    width: 100%;
}
.contact-form .row{
    display: flex;
    width: 100%;;
}

.contact-form .input50{
    width: 50%;
    margin: 0 10px;
}
.contact-form .input100{
    width: 100%;
    margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color:#111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
}
.contact-form .row textarea{
    height: 180px;
}
.contact-form .row .input100 
[type='submit']
{
    background-color: #1b206e;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}
.contact-info{
    width: 350px;
    background:#f9f9f9 ;
    padding: 60px 40px 20px;
    margin-left: 20px;
    height: 431px;
}

.contact-info .info-box{
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon{
    width: 20px;
    margin-right:40px ;
}

.contact-info .info-box .details h4{
    color: #1b206e;
}
@media(max-width:1068px)
{
    .home-img{
        display: none;
    }
    .logo{
        top:10px;
        left:40px;
        font-size:1.5rem;
    }
    section{
        padding: 100px 40px;
    }
    .navigation ul li a{
        font-size: 2rem;

    }
    .services{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact{
        flex-direction: column;

    }
    .contact-form{
        width: 100%;
        padding: 30px 30px 20px;
    }
    .contact-form .input50,
    .contact-form .input100{
    width: 100%;
    margin:0;
    }
    .contact-info{
margin-left: -3px;
        width: 100%;
        margin-top: 20px;
    }

}


@media(max-width:768px)
{
    .services{
        grid-template-columns: 1fr;
    }
    .services .service{
        box-shadow: 0 10px 30px rgba(0,0,0,0.1)
    }
    .contact-form .row{
        flex-direction: column;

    }
}


